<ion-view view-title="About us">
  <ion-content class="padding">
  
      <div class="box" style="margin-bottom:10px;">
		    	<img src="img/slider_3.png" class="slider_img" />
		</div>
    <div>
	    <p class="text-align">
	    	CAHAYA ELECTRONICS PTE LTD, is a Singapore based company and specialized in supplying quality Home and Kitchen Appliances products. Our Home and Kitchen Appliances include these products categories like Fans, Vacuum Cleaners, Microwave Ovens, Electric Ovens, Slow Cooker, Air Pot, Kettle Jug, Induction Cooker, Multi Cooker and many more.
	    </p>

		<p class="text-align">	
			Our products under the brand name SONA can be found in these reputable hypermarkets and retailers like Giant, NTUC Supermarkets, Cold Storage, Courts, Best Denki, Mustaffa and more. Besides, our presence in the local market, we are also exporting our products overseas and is enjoy steady growth.
		</p>

		<p class="text-align">
			Our company’s philosophy is to provide quality product and reliability in our services. We work closely with our business partners and have grown successfully over the years by supporting one another in growing the electrical business together. At CAHAYA ELECTRONICS, we work together with you to make it grow. We are committed to drive our business toward excellence by delivering our products with assurance in quality and providing the best services toward customer satisfaction. 
		</p>
    </div>
  </ion-content>
</ion-view>
