<ion-pane>
    <ion-content class="splash">
      <div class="branding">
        <img src="img/logo.png" alt="Sona Logo">
        <div class="tagline">SINCE 1994</div>
        
      </div>
    </ion-content>

    <ion-footer-bar class="custom-footer-login">
      <div class="button-bar">
          <a href="#/login" class="button button-large sona-color icon-left ion-person custom-footer-a">SIGN IN</a>
          <a href="#/register" class="button button-large sona-color icon-left ion-plus-circled custom-footer-a">REGISTER</a>
        </div>
      </ion-footer-bar> 
</ion-pane>